<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
  <meta name="description" content="{{ description or metadata.description }}">
  <link rel="canonical" href="{{ canonical or domain+page.url }}">
  {% if noindex == "true" %}
    <meta name="robots" content="noindex">
  {% endif %}
  <meta property="og:title" content="{{ og_title or title or metadata.title }}">
  <meta property="og:description" content="{{ og_description or description or metadata.description }}">
  <meta property="og:image" content="{{ og_image or metadata.image }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ og_title or title or metadata.title }}">
  <meta name="twitter:image" content="{{ og_image or metadata.image }}">
</head>