<header>
  <nav class="header-nav">
    <a class="header-home" href="/">My site</a>
    <ul class="header-list">
        <li class="header-item"><a href="/articles/">Articles</a></li>
        <li class="header-item"><a href="/authors/">Authors</a></li>
        <li class="header-item"><a href="/categories/">Categories</a></li>
    </ul>
  </nav>
</header>