---
pagination:
    data: categories
    size: 1
    alias: category
permalink: "{{ category.full_slug }}/"
layout: layouts/base.njk
eleventyComputed: 
    title: "{{ category.content.SEO[0].title }}"
    description: "{{ category.content.SEO[0].description }}"
    canonical: "{{ category.content.SEO[0].canonical }}"
    noindex: "{{ category.content.SEO[0].noindex }}"
    og_title: "{{ category.content.SEO[0].og_title }}"
    og_description: "{{ category.content.SEO[0].og_description }}"
    og_image: "{{ category.content.SEO[0].og_image.filename }}"
---
<div>
    <h1>{{ category.content.Category }}</h1>

    {% set targetCategoryFullSlug = category.full_slug %}
    {% set filteredArticles = articles | filterArticlesByCategory(targetCategoryFullSlug) %}
    <ul>
        {% for article in filteredArticles %}
            <li>
                <article>
                    <h3><a href="/{{ article.full_slug }}">{{ article.content.Title }}</a></h3>
                    <span>Publication Date: {{ article.content.PublicationDate }}</span>
                </article>
            </li>
        {% else %}
            <p>No articles found for the author with Full Slug "{{ targetAuthorFullSlug }}".</p>
        {% endfor %}
    </ul>
</div>